<?xml version="1.0" ?>
<robot name="spl-goalpost.urdf">
  <link concave="yes" name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="spl-goalpost-v1.obj" scale="0.09 0.09 0.09"/>
      </geometry>
      <material name="spl-goalpost-v1">
        <texture filename="spl-goalpost-v1.mtl"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="spl-goalpost-v1.obj" scale="0.09 0.09 0.09"/>
      </geometry>
    </collision>
  </link>
</robot>