<?xml version="1.0" ?>
<robot name="spl-22-ball.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="spl-ball-9.obj" scale="0.06 0.06 0.06"/>
      </geometry>
      <material name="spl-ball-9">
        <texture filename="spl-ball-9.mtl"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="spl-ball-9.obj" scale="0.06 0.06 0.06"/>
      </geometry>
    </collision>
  </link>
</robot>