<?xml version="1.0" ?>
<robot name="spl-22-field.urdf">
  <link name="baseLink">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="rc-spl-22-base-field.obj" scale="1 1 1"/>
      </geometry>
      <material name="rc-spl-22-base-field">
        <texture filename="rc-spl-22-base-field.mtl"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="rc-spl-22-base-field.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>